<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFM Search</key>
	<array>
		<dict>
			<key>SFM Search Configuration</key>
			<string>SFM Search 001</string>
			<key>Description</key>
			<string>Some Description SFM Search 001</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Object Name</key>
					<string>SVMXC__Service_Order__c</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Name</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>YES</string>
							<key>Title</key>
							<string>YES</string>
							<key>Size</key>
							<string>12</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>SVMXC__Order_Status__c</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>YES</string>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>8</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>SVMXC__Product__c</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>8</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>SVMXC__Priority__c</string>
							<key>DisplayField</key>
							<false/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Size</key>
							<string>8</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>SVMXC__Contact__c</string>
							<key>DisplayField</key>
							<false/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>Case</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Case Number</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>YES</string>
							<key>Title</key>
							<string>YES</string>
							<key>Size</key>
							<string>100</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account ID</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>YES</string>
							<key>Title</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Component Name</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Created Date</string>
							<key>DisplayField</key>
							<false/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>Parts Order</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Order Number</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>YES</string>
							<key>Size</key>
							<string>100</string>
							<key>Title</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Expected Receipt Date</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Title</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<true/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Title</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Record Type ID</string>
							<key>DisplayField</key>
							<false/>
							<key>Searchable</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Title</key>
							<string>NO</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>Account</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
							<key>Title</key>
							<string>YES</string>
							<key>Size</key>
							<string>100</string>
							<key>Searchable</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account Name</string>
							<key>DisplayField</key>
							<true/>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Searchable</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account Type</string>
							<key>DisplayField</key>
							<true/>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Searchable</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Searchable</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Searchable</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
							<key>Title</key>
							<string>NO</string>
							<key>Size</key>
							<string>100</string>
							<key>Searchable</key>
							<string>NO</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SFM Search Configuration</key>
			<string>SFM Search 002</string>
			<key>Description</key>
			<string>Some Description SFM Search 002</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Object Name</key>
					<string>WorkOrder2</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>WorkOrder Number</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>WorkOrder Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>Case2</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Number</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>CaseLines2</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Line Number</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Line Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>Account2</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account Name</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SFM Search Configuration</key>
			<string>SFM Search 003</string>
			<key>Description</key>
			<string>Some Description SFM Search 003</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Object Name</key>
					<string>WorkOrder3</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>WorkOrder Number</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>WorkOrder Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>Case3</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Number</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>CaseLines3</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Line Number</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Case Line Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Object Name</key>
					<string>Account3</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>Name</key>
							<string>S.No</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account Name</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account Type</string>
							<key>DisplayField</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Status</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Account</string>
							<key>DisplayField</key>
							<false/>
						</dict>
						<dict>
							<key>Name</key>
							<string>Country</string>
							<key>DisplayField</key>
							<false/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
