<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IPAD012_TAG025</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD024_TAG010</key>
	<string>Add from Camera Roll</string>
	<key>SERVICE_REPORT_LABOR_LABOR_TITLE</key>
	<string>Labor</string>
	<key>IPAD014_TAG032</key>
	<string>Data required for price calculation is not available. Please try when online.</string>
	<key>IPAD014_TAG099</key>
	<string>contact</string>
	<key>IPAD018_TAG026</key>
	<string>Sync Status</string>
	<key>IPAD010_TAG005</key>
	<string>High</string>
	<key>IPAD006_TAG039</key>
	<string>This event is not associated with any record</string>
	<key>IPAD012_TAG014</key>
	<string>Sync</string>
	<key>IPAD009_TAG006</key>
	<string>Signed into</string>
	<key>IPAD014_TAG021</key>
	<string>Search</string>
	<key>IPAD014_TAG132</key>
	<string>There are no actions assigned to this item or you do not have permission to see them.</string>
	<key>IPAD018_TAG015</key>
	<string>Event Synchronization</string>
	<key>IPAD005_TAG001</key>
	<string>No matching knowledgebase articles found</string>
	<key>IPAD012_TAG003</key>
	<string>Create New...</string>
	<key>IPAD006_TAG028</key>
	<string>No View Layout has been configured for this object. Please contact the system administrator.</string>
	<key>IPAD014_TAG121</key>
	<string>Resolution at</string>
	<key>IPAD014_TAG010</key>
	<string>Additional Info</string>
	<key>IPAD018_TAG004</key>
	<string>Online</string>
	<key>IPAD006_TAG017</key>
	<string>February</string>
	<key>IPAD006_TAG128</key>
	<string>An event can&apos;t last longer than 14 days.</string>
	<key>IPAD004_TAG030</key>
	<string>Service_Report</string>
	<key>IPAD025_TAG004</key>
	<string>Network unavailable to complete action</string>
	<key>IPAD014_TAG110</key>
	<string>Filters</string>
	<key>IPAD014_TAG066</key>
	<string>edit</string>
	<key>New item - 6</key>
	<string></string>
	<key>IPAD018_TAG104</key>
	<string>next sync</string>
	<key>IPAD013_TAG008</key>
	<string>Minutes</string>
	<key>IPAD006_TAG117</key>
	<string>start</string>
	<key>IPAD006_TAG006</key>
	<string>January</string>
	<key>IPAD024_TAG033</key>
	<string>File cannot be loaded on the webview, File not supported by web view</string>
	<key>IPAD012_TAG048</key>
	<string>Setting up downloaded records for offline use</string>
	<key>IPAD018_TAG080</key>
	<string>Identifying data to remove</string>
	<key>IPAD018_TAG191</key>
	<string>No logs to push.</string>
	<key>IPAD006_TAG093</key>
	<string>s</string>
	<key>IPAD019_TAG009</key>
	<string>Exact Match</string>
	<key>IPAD018_TAG049</key>
	<string>Downloading</string>
	<key>IPAD006_TAG106</key>
	<string>Edit Task</string>
	<key>IPAD011_TAG010</key>
	<string>ServiceMax for iPad</string>
	<key>IPAD024_TAG022</key>
	<string>The network connection has timed out. Please try again later</string>
	<key>IPAD015_TAG004</key>
	<string>Create Sample Data</string>
	<key>IPAD018_TAG180</key>
	<string>ServiceMax needs to purge old appointments and work orders. If you choose to purge later, this action can be found in Tools.</string>
	<key>IPAD008_TAG002</key>
	<string>Chatter</string>
	<key>IPAD006_TAG082</key>
	<string>Tools</string>
	<key>IPAD018_TAG038</key>
	<string>Get From</string>
	<key>IPAD018_TAG149</key>
	<string>Doing so will cancel or interrupt the reset.</string>
	<key>IPAD012_TAG026</key>
	<string>Now downloading picklists</string>
	<key>IPAD024_TAG011</key>
	<string>Take new picture</string>
	<key>IPAD014_TAG033</key>
	<string>Show All</string>
	<key>IPAD018_TAG138</key>
	<string>Status and Manual Sync</string>
	<key>IPAD010_TAG006</key>
	<string>Cancel</string>
	<key>IPAD018_TAG027</key>
	<string>Hold</string>
	<key>IPAD012_TAG015</key>
	<string>Do synchronization, view sync conflicts, or view last sync status.</string>
	<key>IPAD009_TAG007</key>
	<string>ServiceMax Mobile for iPad</string>
	<key>IPAD014_TAG022</key>
	<string>Search For</string>
	<key>IPAD014_TAG133</key>
	<string>No Actions Available</string>
	<key>IPAD018_TAG016</key>
	<string>Last Sync Time</string>
	<key>IPAD005_TAG002</key>
	<string>Product information not available on the work order.</string>
	<key>IPAD012_TAG004</key>
	<string>Create new Service Flow transactions such as Parts Orders or Work Orders</string>
	<key>IPAD006_TAG029</key>
	<string>MON</string>
	<key> IPAD018_TAG042</key>
	<string>Are you sure you want to reset application?</string>
	<key>IPAD014_TAG122</key>
	<string>Restoration at</string>
	<key>IPAD014_TAG011</key>
	<string>Attachments</string>
	<key>IPAD018_TAG005</key>
	<string>Mobile</string>
	<key>IPAD006_TAG018</key>
	<string>March</string>
	<key>IPAD006_TAG129</key>
	<string>Start Date/Time must be before End Date/Time.</string>
	<key>IPAD004_TAG031</key>
	<string>Retrieving Service Report</string>
	<key>IPAD025_TAG005</key>
	<string>Would you like to View/Cancel the selected Record?</string>
	<key>IPAD014_TAG111</key>
	<string>Customer Debrief</string>
	<key>IPAD014_TAG067</key>
	<string>service location</string>
	<key>IPAD013_TAG009</key>
	<string>Map is displayed only when internet connection is available. </string>
	<key>IPAD006_TAG118</key>
	<string>end</string>
	<key>IPAD004_TAG020</key>
	<string>Contact</string>
	<key>IPAD024_TAG034</key>
	<string>Can not be loaded in web view</string>
	<key>IPAD012_TAG049</key>
	<string>Downloading Data</string>
	<key>IPAD014_TAG100</key>
	<string>phone</string>
	<key>IPAD015_TAG016</key>
	<string>Profile Validation in Progress</string>
	<key>IPAD018_TAG081</key>
	<string>Removing data that is no longer necessary</string>
	<key>IPAD018_TAG192</key>
	<string>Uploading...</string>
	<key>IPAD006_TAG094</key>
	<string>m</string>
	<key>IPAD006_TAG107</key>
	<string>due date</string>
	<key>IPAD012_TAG038</key>
	<string>Now downloading dependent picklists</string>
	<key>IPAD024_TAG023</key>
	<string>An unknown error has occurred. Please try again later</string>
	<key>IPAD011_TAG011</key>
	<string>Application Error</string>
	<key>IPAD015_TAG005</key>
	<string>Connecting as new user removes all the unsaved data. Application configuration will be downloaded and this may take some time. Are you sure you want to continue?</string>
	<key>IPAD018_TAG070</key>
	<string>Not Scheduled</string>
	<key>IPAD018_TAG181</key>
	<string>Welcome to ServiceMax Mobile</string>
	<key>IPAD008_TAG003</key>
	<string>Post</string>
	<key>IPAD018_TAG039</key>
	<string>Hold</string>
	<key>IPAD012_TAG027</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD024_TAG012</key>
	<string>Take 120 seconds video</string>
	<key>IPAD018_TAG170</key>
	<string>Config Sync Status</string>
	<key>IPAD014_TAG034</key>
	<string>Views</string>
	<key>IPAD017_TAG001</key>
	<string>Map Directions</string>
	<key>IPAD010_TAG007</key>
	<string>Unable to connect to the internet. Please retry action once the connection is available.</string>
	<key>SFM_ACTION_BUTTON_CANCEL_TITLE</key>
	<string>Cancel</string>
	<key>IPAD021_TAG003</key>
	<string>Settings</string>
	<key>IPAD024_TAG001</key>
	<string>Error in Upload</string>
	<key>IPAD012_TAG016</key>
	<string>Logout</string>
	<key>IPAD018_TAG028</key>
	<string>Undo</string>
	<key>IPAD018_TAG139</key>
	<string>Resolve Conflicts</string>
	<key>IPAD014_TAG023</key>
	<string>Actions</string>
	<key>IPAD014_TAG134</key>
	<string>Failure</string>
	<key>IPAD018_TAG017</key>
	<string>Next Sync Time</string>
	<key>IPAD005_TAG003</key>
	<string>No view process available for the logged in user</string>
	<key>IPAD012_TAG005</key>
	<string>Calendar</string>
	<key>IPAD025_TAG013</key>
	<string>Started</string>
	<key>IPAD007_TAG010</key>
	<string>Notification History</string>
	<key>IPAD014_TAG012</key>
	<string>Switch View</string>
	<key>IPAD006_TAG050</key>
	<string>Sep</string>
	<key>IPAD014_TAG123</key>
	<string>Clean Up at</string>
	<key>IPAD018_TAG006</key>
	<string>Record Id</string>
	<key>IPAD006_TAG019</key>
	<string>April</string>
	<key>IPAD025_TAG006</key>
	<string>Save And View</string>
	<key>IPAD004_TAG032</key>
	<string>Details Of Work Performed</string>
	<key>IPAD014_TAG001</key>
	<string>Chatter</string>
	<key>IPAD018_TAG093</key>
	<string>Sync Conflicts</string>
	<key>IPAD014_TAG112</key>
	<string>Work Order</string>
	<key>IPAD014_TAG068</key>
	<string>Open</string>
	<key>IPAD018_TAG106</key>
	<string>Purge Data</string>
	<key>IPAD006_TAG119</key>
	<string>and</string>
	<key>IPAD006_TAG008</key>
	<string>Current Week</string>
	<key>IPAD004_TAG021</key>
	<string>Phone</string>
	<key>IPAD024_TAG035</key>
	<string>Attachment Downloads</string>
	<key>IPAD014_TAG101</key>
	<string>products at this location</string>
	<key>IPAD015_TAG017</key>
	<string>Doing so will cancel or interrupt profile validation.</string>
	<key>IPAD018_TAG082</key>
	<string>Data purge canceled</string>
	<key>IPAD018_TAG193</key>
	<string>Downloading records IDs not related to events</string>
	<key>IPAD006_TAG095</key>
	<string>t</string>
	<key>SFM002_TAG010</key>
	<string>search</string>
	<key>IPAD006_TAG108</key>
	<string>Event</string>
	<key>IPAD012_TAG039</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD024_TAG024</key>
	<string>Delete Locally</string>
	<key>IPAD004_TAG010</key>
	<string>Quatity</string>
	<key>IPAD011_TAG012</key>
	<string>Synchronization error</string>
	<key>IPAD015_TAG006</key>
	<string>Error connecting to ServiceMax. Internet connection is not available.</string>
	<key>IPAD018_TAG071</key>
	<string>Data Purge</string>
	<key>IPAD018_TAG182</key>
	<string>We&apos;re downloading the latest work orders, appointments, and other information you need to deliver flawless field service. This process can take a few minutes. Please do not press the home button or switch to another application because this will stop the download process.</string>
	<key>IPAD008_TAG004</key>
	<string>Today</string>
	<key>IPAD012_TAG028</key>
	<string>Now downloading picklists</string>
	<key>IPAD011_TAG001</key>
	<string>ServiceMax</string>
	<key>IPAD024_TAG013</key>
	<string>This image is too large. Please select another.</string>
	<key>IPAD018_TAG171</key>
	<string>Conflicts</string>
	<key>EVER005_TAG087</key>
	<string>Price not calculated, because entitlement check has not been performed</string>
	<key>IPAD014_TAG035</key>
	<string>More</string>
	<key>IPAD018_TAG060</key>
	<string>Success</string>
	<key>IPAD012_TAG017</key>
	<string>Show Login Screen</string>
	<key>IPAD024_TAG002</key>
	<string>Error in Download</string>
	<key>IPAD018_TAG160</key>
	<string>Data Sync will retrieve the latest appointments, work orders and other information.</string>
	<key>IPAD014_TAG024</key>
	<string>Cancel</string>
	<key>IPAD014_TAG135</key>
	<string>Line Item Actions</string>
	<key>IPAD018_TAG018</key>
	<string>Last Sync Status</string>
	<key>IPAD018_TAG129</key>
	<string>Loading...</string>
	<key>IPAD005_TAG004</key>
	<string>Try downloading the document when online.</string>
	<key>IPAD012_TAG006</key>
	<string>View work orders and other activities assigned on your calendar.</string>
	<key>IPAD007_TAG011</key>
	<string>This is where text goes...</string>
	<key>IPAD014_TAG013</key>
	<string>Save</string>
	<key>IPAD006_TAG051</key>
	<string>Oct</string>
	<key>IPAD014_TAG124</key>
	<string>Abandon Changes</string>
	<key>IPAD018_TAG118</key>
	<string>Reset App</string>
	<key>WORD005_TAG017</key>
	<string>Get Price</string>
	<key>IPAD018_TAG007</key>
	<string>Error Message</string>
	<key>IPAD025_TAG007</key>
	<string>Abandon And View</string>
	<key>IPAD004_TAG033</key>
	<string>Email error.</string>
	<key>IPAD014_TAG002</key>
	<string>Summary</string>
	<key>IPAD014_TAG113</key>
	<string>description of service</string>
	<key>IPAD006_TAG040</key>
	<string>Edit Event</string>
	<key>IPAD006_TAG009</key>
	<string>Monday</string>
	<key>SFM002_TAG073</key>
	<string>Error Details</string>
	<key>IPAD004_TAG022</key>
	<string>Part</string>
	<key>IPAD014_TAG102</key>
	<string>View Processes</string>
	<key>New item - 5</key>
	<string></string>
	<key>IPAD015_TAG018</key>
	<string>Validating Profile...</string>
	<key>IPAD018_TAG194</key>
	<string>This will remove all ServiceMax data stored on this iPad and re-synchronize with the server. This process can take several minutes. You will be unable to use your iPad during app reset.</string>
	<key>IPAD006_TAG096</key>
	<string>w</string>
	<key>IPAD006_TAG109</key>
	<string>description</string>
	<key>IPAD004_TAG011</key>
	<string>Rate (/Hr)</string>
	<key>IPAD024_TAG025</key>
	<string>Delete</string>
	<key>IPAD011_TAG013</key>
	<string>Invalid Configuration</string>
	<key>IPAD015_TAG007</key>
	<string>This iPad App version requires the following ServiceMax version or above</string>
	<key>IPAD018_TAG072</key>
	<string>Validating Configuration</string>
	<key>IPAD018_TAG183</key>
	<string>While you wait, take a look through the illustrations below for tips on using the application.</string>
	<key>IPAD008_TAG005</key>
	<string>Yesterday</string>
	<key>IPAD012_TAG029</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD011_TAG002</key>
	<string>OK</string>
	<key>IPAD024_TAG014</key>
	<string>This video is too large. Videos may not exceed 120 seconds in length.</string>
	<key>New item - 10</key>
	<string></string>
	<key>IPAD018_TAG061</key>
	<string>Failed</string>
	<key>IPAD014_TAG036</key>
	<string>Details</string>
	<key>IPAD018_TAG172</key>
	<string>Notifications</string>
	<key>IPAD012_TAG018</key>
	<string>Now downloading SFM Transactions</string>
	<key>IPAD024_TAG003</key>
	<string>Tap to Download</string>
	<key>IPAD019_TAG010</key>
	<string>Ends With</string>
	<key>IPAD018_TAG050</key>
	<string>Last Updated On:</string>
	<key>IPAD014_TAG025</key>
	<string>Done</string>
	<key>IPAD018_TAG161</key>
	<string>You can continue to use the ServiceMax app during data sync.</string>
	<key>IPAD018_TAG019</key>
	<string>The referred record does not exist</string>
	<key>IPAD012_TAG007</key>
	<string>Map</string>
	<key>CANCEL_BUTTON</key>
	<string>Cancel</string>
	<key>IPAD018_TAG150</key>
	<string>Reseting Application Contents</string>
	<key>IPAD014_TAG014</key>
	<string>Quick Save</string>
	<key>IPAD014_TAG125</key>
	<string>Save Changes?</string>
	<key>IPAD006_TAG052</key>
	<string>Nov</string>
	<key>IPAD018_TAG119</key>
	<string>last sync</string>
	<key>IPAD018_TAG008</key>
	<string>Select Change To Apply</string>
	<key>IPAD025_TAG008</key>
	<string>No View Layout has been configured for this object. Please contact the system administrator.</string>
	<key>IPAD004_TAG034</key>
	<string>Please set up email first.</string>
	<key>IPAD007_TAG001</key>
	<string>Back</string>
	<key>IPAD014_TAG003</key>
	<string>Share</string>
	<key>IPAD014_TAG114</key>
	<string>use price from pricebook</string>
	<key>IPAD018_TAG095</key>
	<string>Resolve</string>
	<key>IPAD004_TAG023</key>
	<string>Qty</string>
	<key>IPAD024_TAG037</key>
	<string>Images and Videos</string>
	<key>IPAD015_TAG019</key>
	<string>Profile Validation failed</string>
	<key>IPAD018_TAG084</key>
	<string>Downloading translations.</string>
	<key>IPAD006_TAG030</key>
	<string>TUE</string>
	<key>New item - 9</key>
	<string></string>
	<key>IPAD006_TAG097</key>
	<string>f</string>
	<key>IPAD004_TAG012</key>
	<string>Unit Price</string>
	<key>IPAD011_TAG014</key>
	<string>Copy to Clipboard</string>
	<key>SFM_LEFT_PANE_SWITCH_PROCESS_POPOVER_TITLE</key>
	<string>Switch View</string>
	<key>IPAD008_TAG006</key>
	<string>Day Before Yesterday</string>
	<key>IPAD018_TAG073</key>
	<string>Identifying configuration changes</string>
	<key>IPAD006_TAG130</key>
	<string>Unable to create event since there is no technician associated.</string>
	<key>IPAD018_TAG184</key>
	<string>Config Sync in Progress</string>
	<key>IPAD014_TAG048</key>
	<string>order status</string>
	<key>IPAD015_TAG008</key>
	<string>iPad App Version:</string>
	<key>IPAD004_TAG001</key>
	<string>Service Report for</string>
	<key>IPAD011_TAG003</key>
	<string>Response Error</string>
	<key>IPAD024_TAG015</key>
	<string>The item you selected could not be found on your device. It may have been moved or deleted.</string>
	<key>New item - 12</key>
	<string></string>
	<key>IPAD018_TAG062</key>
	<string>Are you sure you want to purge data?</string>
	<key>IPAD018_TAG173</key>
	<string>Use server version</string>
	<key>IPAD012_TAG050</key>
	<string> </string>
	<key>SERVICE_REPORT_PARTS_UNIT_PRICE_TITLE</key>
	<string>Unit Price</string>
	<key>IPAD024_TAG004</key>
	<string>Documents</string>
	<key>IPAD012_TAG019</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD019_TAG011</key>
	<string>Starts With</string>
	<key>SFM004_TAG006</key>
	<string>Finalize</string>
	<key>IPAD018_TAG051</key>
	<string>Refresh from Salesforce</string>
	<key>IPAD014_TAG026</key>
	<string>This SFM Process does not have a Page Layout</string>
	<key>IPAD018_TAG162</key>
	<string>Data Sync</string>
	<key>SERVICE_REPORT_EXPENSE_SECTION_TITLE</key>
	<string>Expenses</string>
	<key>IPAD012_TAG008</key>
	<string>See today&apos;s work orders on a map and plan your route</string>
	<key>IPAD018_TAG151</key>
	<string>Sync Failed</string>
	<key>IPAD014_TAG015</key>
	<string>information</string>
	<key>IPAD018_TAG040</key>
	<string>Retry</string>
	<key>IPAD006_TAG053</key>
	<string>Dec</string>
	<key>IPAD014_TAG126</key>
	<string>Work Order Debrief</string>
	<key>IPAD018_TAG009</key>
	<string>Synchronization Conflicts</string>
	<key>IPAD025_TAG009</key>
	<string>This record has been deleted from server.</string>
	<key>IPAD004_TAG035</key>
	<string>Customer Sign Off</string>
	<key>IPAD018_TAG140</key>
	<string>Sync Data Now</string>
	<key>IPAD014_TAG004</key>
	<string>Post</string>
	<key>IPAD014_TAG115</key>
	<string>use discount pricing</string>
	<key>IPAD018_TAG096</key>
	<string>details</string>
	<key>IPAD007_TAG002</key>
	<string>Installed Product is not available on the work order</string>
	<key>IPAD004_TAG024</key>
	<string>Discount</string>
	<key>IPAD014_TAG091</key>
	<string>New Task</string>
	<key>SERVICE_REPORT_SNO</key>
	<string>Sr. No.</string>
	<key>SERVICE_REPORT_LABOR_HOURS_TITLE</key>
	<string>Hours</string>
	<key>IPAD014_TAG104</key>
	<string>Description can&apos;t be more than 255 characters.</string>
	<key>IPAD018_TAG085</key>
	<string>Downloading SFM process definition, wizard configuration and user profile settings .</string>
	<key>IPAD006_TAG031</key>
	<string>WED</string>
	<key>IPAD006_TAG098</key>
	<string>History</string>
	<key>IPAD004_TAG013</key>
	<string>Hours</string>
	<key>IPAD011_TAG015</key>
	<string>System Error</string>
	<key>IPAD024_TAG027</key>
	<string>Item Selected</string>
	<key>IPAD008_TAG007</key>
	<string>Share</string>
	<key>IPAD018_TAG074</key>
	<string>Your configuration is out of date. From Sync screen, initiate a Sync Configuration then re-initiate data purge</string>
	<key>IPAD006_TAG131</key>
	<string>Drag and drop is not allowed for multi-day and all-day events. Do you want to reschedule this event?</string>
	<key>IPAD018_TAG185</key>
	<string>Please do not switch to another application or press the home button while sync is in progress</string>
	<key>IPAD015_TAG009</key>
	<string>ServiceMax Version:</string>
	<key>IPAD006_TAG020</key>
	<string>May</string>
	<key>SERVICE_REPORT_PARTS_SECTION_TITLE</key>
	<string>Parts</string>
	<key>IPAD004_TAG002</key>
	<string>Total Amount:</string>
	<key>IPAD011_TAG004</key>
	<string>Response</string>
	<key>IPAD024_TAG016</key>
	<string>Downloading...</string>
	<key>IPAD018_TAG063</key>
	<string>Data purge is due </string>
	<key>IPAD006_TAG120</key>
	<string>event name</string>
	<key>IPAD018_TAG174</key>
	<string>Resetting the app will remove all local data and settings and re-sync to the server.</string>
	<key>IPAD012_TAG051</key>
	<string>You have not created any lines. Do you still want to save?</string>
	<key>SERVICE_REPORT_LINE_PRICE</key>
	<string>Line Price</string>
	<key>IPAD024_TAG005</key>
	<string>Select</string>
	<key>ALERT_FILL_REQUIRED_FIELD</key>
	<string>Please fill the required fields</string>
	<key>IPAD019_TAG012</key>
	<string>Close</string>
	<key>IPAD018_TAG163</key>
	<string>Got it. Don&apos;t show me this again.</string>
	<key>IPAD014_TAG027</key>
	<string>This record does not meet the entry criteria for this SFM Process. Please select another process.</string>
	<key>IPAD012_TAG040</key>
	<string>Assessing volume of data to download</string>
	<key>IPAD012_TAG009</key>
	<string>Recents</string>
	<key>IPAD019_TAG001</key>
	<string>ServiceMax Search</string>
	<key>IPAD018_TAG152</key>
	<string>Would you like to retry Reset Application now?</string>
	<key>IPAD014_TAG016</key>
	<string>Product History</string>
	<key>IPAD014_TAG127</key>
	<string>On </string>
	<key>IPAD018_TAG030</key>
	<string>Full Data Synchronization</string>
	<key>IPAD014_TAG005</key>
	<string>Troubleshooting</string>
	<key>IPAD014_TAG116</key>
	<string>account name</string>
	<key>IPAD018_TAG141</key>
	<string>Sync Config Now</string>
	<key>IPAD006_TAG043</key>
	<string>Jan</string>
	<key>SERVICE_REPORT_LABOR_SECTION_TITLE</key>
	<string>Labor</string>
	<key>IPAD018_TAG097</key>
	<string>Keep my changes</string>
	<key>IPAD007_TAG003</key>
	<string>Cancel</string>
	<key>IPAD004_TAG025</key>
	<string>Problem Description</string>
	<key>IPAD014_TAG092</key>
	<string>priority</string>
	<key>IPAD014_TAG105</key>
	<string>Tap any item to add to Selected List</string>
	<key>SFM002_TAG095</key>
	<string>PM</string>
	<key>IPAD006_TAG032</key>
	<string>THU</string>
	<key>IPAD018_TAG086</key>
	<string>Downloading SFM page layout definition.</string>
	<key>IPAD006_TAG099</key>
	<string>Please select an appointment on the calendar to see a summary</string>
	<key>IPAD016_TAG001</key>
	<string>Product Manual</string>
	<key>IPAD004_TAG014</key>
	<string>Line Price</string>
	<key>IPAD011_TAG016</key>
	<string>Functional Error</string>
	<key>IPAD014_TAG081</key>
	<string>Confirm</string>
	<key>New item - 4</key>
	<string></string>
	<key>IPAD008_TAG008</key>
	<string>No Posts Available</string>
	<key>IPAD018_TAG075</key>
	<string>Validating Database</string>
	<key>IPAD018_TAG186</key>
	<string>Doing so will cancel or interrupt the synchronization.</string>
	<key>IPAD024_TAG028</key>
	<string>Items Selected</string>
	<key>IPAD006_TAG021</key>
	<string>June</string>
	<key>IPAD004_TAG003</key>
	<string>Attaching</string>
	<key>IPAD011_TAG005</key>
	<string>Please fill the required fields</string>
	<key>IPAD024_TAG017</key>
	<string>Do you like to delete the attachment(s) only from local device or permanently from device and server?</string>
	<key>New item - 24</key>
	<string></string>
	<key>IPAD018_TAG064</key>
	<string>Last Data Purge</string>
	<key>IPAD006_TAG010</key>
	<string>Tuesday</string>
	<key>IPAD013_TAG012</key>
	<string>Unable to fetch Technician address</string>
	<key>IPAD012_TAG052</key>
	<string>Retry</string>
	<key>IPAD006_TAG121</key>
	<string>Previous Month</string>
	<key>IPAD018_TAG175</key>
	<string>An Internet connection is required to reset the app.</string>
	<key>IPAD024_TAG006</key>
	<string>Documents List</string>
	<key>IPAD019_TAG013</key>
	<string>Include Online Items</string>
	<key>IPAD018_TAG164</key>
	<string>Config Sync will update all business rules and configuration items. You will not be able to use the app during this process.</string>
	<key>IPAD013_TAG001</key>
	<string>No work order events assigned to you for this day.</string>
	<key>IPAD006_TAG110</key>
	<string>For</string>
	<key>IPAD012_TAG041</key>
	<string>Downloading Data</string>
	<key>IPAD014_TAG028</key>
	<string>Please sync with online before proceeding with this operation</string>
	<key>IPAD020_TAG001</key>
	<string>Show</string>
	<key>IPAD019_TAG002</key>
	<string>Search for records in local database and in server, based on pre-configured searches.</string>
	<key>IPAD014_TAG017</key>
	<string>Account History</string>
	<key>IPAD014_TAG128</key>
	<string>Off</string>
	<key>IPAD012_TAG030</key>
	<string>Now downloading SFM wizards</string>
	<key>IPAD018_TAG031</key>
	<string>Internet connectivity lost. Please retry when connectivity is available</string>
	<key>IPAD014_TAG006</key>
	<string>Total Amount</string>
	<key>IPAD014_TAG117</key>
	<string>work order number</string>
	<key>IPAD006_TAG044</key>
	<string>Feb</string>
	<key>IPAD018_TAG098</key>
	<string>Decide Later</string>
	<key>IPAD007_TAG004</key>
	<string>Done</string>
	<key>IPAD004_TAG026</key>
	<string>Rate</string>
	<key>IPAD018_TAG020</key>
	<string>Synchronization failed</string>
	<key>IPAD014_TAG106</key>
	<string>Apply</string>
	<key>IPAD018_TAG087</key>
	<string>Downloading object and picklist definition.</string>
	<key>IPAD006_TAG033</key>
	<string>FRI</string>
	<key>IPAD016_TAG002</key>
	<string>Product manual not present.</string>
	<key>IPAD004_TAG015</key>
	<string>Customer Signature</string>
	<key>IPAD011_TAG017</key>
	<string>Type of Error</string>
	<key>IPAD024_TAG029</key>
	<string>Please configure a valid mail account.</string>
	<key>IPAD018_TAG120</key>
	<string>Downloading dataset record id&apos;s.</string>
	<key>IPAD008_TAG009</key>
	<string>Error connecting to facetime user. Internet connection is not available.</string>
	<key>IPAD018_TAG076</key>
	<string>Retrieving download criteria</string>
	<key>IPAD018_TAG187</key>
	<string>Config Sync Needed</string>
	<key>New item - 8</key>
	<string></string>
	<key>IPAD006_TAG022</key>
	<string>July</string>
	<key>IPAD004_TAG004</key>
	<string>Service Report</string>
	<key>IPAD011_TAG006</key>
	<string>Warning</string>
	<key>IPAD024_TAG018</key>
	<string>File corruption error has occurred during download</string>
	<key>IPAD018_TAG065</key>
	<string>Next Data Purge</string>
	<key>IPAD006_TAG011</key>
	<string>Wednesday</string>
	<key>IPAD006_TAG122</key>
	<string>Next Month</string>
	<key>IPAD012_TAG053</key>
	<string>I will try later</string>
	<key>IPAD018_TAG176</key>
	<string>Purging data removes old appointments and work orders from your device. They are not deleted from the server. You will be unable to use the application while purging.</string>
	<key>IPAD015_TAG020</key>
	<string>Your session with ServiceMax Mobile has expired. Please relogin.</string>
	<key>IPAD024_TAG007</key>
	<string>Delete Permanently</string>
	<key>IPAD019_TAG014</key>
	<string>items found</string>
	<key>IPAD018_TAG165</key>
	<string>Config Sync in Progress</string>
	<key>IPAD013_TAG002</key>
	<string>Work Order:</string>
	<key>IPAD006_TAG111</key>
	<string>Technician</string>
	<key>IPAD012_TAG042</key>
	<string>Assessing volume of data to download</string>
	<key>IPAD014_TAG029</key>
	<string>TrobleShooting and Summary</string>
	<key>IPAD020_TAG002</key>
	<string>Records</string>
	<key>IPAD019_TAG003</key>
	<string>Search Criteria</string>
	<key>IPAD018_TAG154</key>
	<string>Initiating Sync...</string>
	<key>IPAD014_TAG018</key>
	<string>Field Not Accessible</string>
	<key>IPAD018_TAG043</key>
	<string>Apply My</string>
	<key>IPAD012_TAG031</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD014_TAG129</key>
	<string>Previous Item</string>
	<key>IPAD006_TAG100</key>
	<string>Reschedule</string>
	<key>IPAD018_TAG032</key>
	<string>Configuration sync is due</string>
	<key>IPAD014_TAG007</key>
	<string>Service Report For</string>
	<key>IPAD014_TAG118</key>
	<string>Cannot Save:</string>
	<key>IPAD012_TAG020</key>
	<string>Now downloading SFM page layouts</string>
	<key>IPAD006_TAG045</key>
	<string>Mar</string>
	<key>IPAD007_TAG005</key>
	<string>Time Left To Restore</string>
	<key>IPAD004_TAG027</key>
	<string>Expense Type</string>
	<key>IPAD018_TAG021</key>
	<string>Synchronization succeeded</string>
	<key>IPAD014_TAG107</key>
	<string>number</string>
	<key>IPAD018_TAG088</key>
	<string>Downloading events and their related records IDs</string>
	<key>IPAD006_TAG034</key>
	<string>SAT</string>
	<key>SFM002_TAG099</key>
	<string>Information</string>
	<key>IPAD009_TAG001</key>
	<string>Version</string>
	<key>IPAD004_TAG016</key>
	<string>Total Cost</string>
	<key>IPAD018_TAG010</key>
	<string>Data Synchronization</string>
	<key>IPAD018_TAG121</key>
	<string>Download data.</string>
	<key>IPAD018_TAG188</key>
	<string>ServiceMax needs to sync forms, rules and other configuration items.</string>
	<key>IPAD006_TAG023</key>
	<string>August</string>
	<key>IPAD018_TAG077</key>
	<string>Retrieving advanced download criteria</string>
	<key>IPAD025_TAG010</key>
	<string>Downloads</string>
	<key>IPAD004_TAG005</key>
	<string>Work Performed</string>
	<key>IPAD011_TAG007</key>
	<string>Authentication Error</string>
	<key>IPAD024_TAG019</key>
	<string>File not found. Please perform a data sync and try again</string>
	<key>IPAD018_TAG110</key>
	<string>Start Sync</string>
	<key>IPAD018_TAG066</key>
	<string>Last Data Purge Status</string>
	<key>IPAD006_TAG012</key>
	<string>Thursday</string>
	<key>IPAD018_TAG177</key>
	<string>An Internet connection is required to purge data.</string>
	<key>IPAD012_TAG054</key>
	<string>Initial Setup: Preparing application for the first time use</string>
	<key>IPAD006_TAG123</key>
	<string>appointment</string>
	<key>IPAD015_TAG021</key>
	<string>Your remote access has been revoked. Please navigate back to the Tools screen to logout and re-authenticate</string>
	<key>IPAD024_TAG008</key>
	<string>Add Photo or Video</string>
	<key>IPAD019_TAG015</key>
	<string>Account History and Records</string>
	<key>IPAD018_TAG166</key>
	<string>Please do not switch to another application or press the home button while sync is in progress</string>
	<key>IPAD006_TAG001</key>
	<string>Tasks</string>
	<key>IPAD013_TAG003</key>
	<string>Home Location</string>
	<key>IPAD012_TAG043</key>
	<string>Downloading Data</string>
	<key>IPAD006_TAG112</key>
	<string>Terms and conditions</string>
	<key>IPAD015_TAG010</key>
	<string>Continue</string>
	<key>IPAD014_TAG050</key>
	<string>account</string>
	<key>IPAD019_TAG004</key>
	<string> Include online results</string>
	<key>IPAD018_TAG155</key>
	<string>Initial Sync</string>
	<key>IPAD014_TAG019</key>
	<string>Invalid Email Id</string>
	<key>IPAD018_TAG044</key>
	<string>changes</string>
	<key>IPAD012_TAG032</key>
	<string>See More</string>
	<key>IPAD006_TAG101</key>
	<string>Start time must occur earlier than end time.</string>
	<key>IPAD018_TAG033</key>
	<string>Sync Now</string>
	<key>IPAD014_TAG008</key>
	<string>Header Info</string>
	<key>IPAD018_TAG144</key>
	<string>Confirm App Reset</string>
	<key>IPAD012_TAG021</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD006_TAG046</key>
	<string>Apr</string>
	<key>IPAD007_TAG006</key>
	<string>Time Left To Resolve</string>
	<key>IPAD014_TAG119</key>
	<string>Issues Need Resolution</string>
	<key>IPAD004_TAG028</key>
	<string>Service_Report_</string>
	<key>IPAD014_TAG095</key>
	<string>Detail</string>
	<key>IPAD018_TAG022</key>
	<string>Synchronization in progress...</string>
	<key>IPAD010_TAG001</key>
	<string>Enter your task here:</string>
	<key>IPAD018_TAG089</key>
	<string>Step</string>
	<key>IPAD006_TAG035</key>
	<string>SUN</string>
	<key>IPAD012_TAG010</key>
	<string>View the list of recently created records</string>
	<key>IPAD014_TAG108</key>
	<string>remain</string>
	<key>IPAD009_TAG002</key>
	<string>You are logged in to </string>
	<key>IPAD004_TAG017</key>
	<string>Work Order Number</string>
	<key>IPAD018_TAG011</key>
	<string>Sync Configuration</string>
	<key>IPAD018_TAG078</key>
	<string>Retrieving data for price calculation</string>
	<key>IPAD006_TAG024</key>
	<string>September</string>
	<key>IPAD018_TAG189</key>
	<string>ServiceMax needs to sync forms, rules and other configuration items. If you choose to sync later, this action can be found in Tools.</string>
	<key>IPAD004_TAG006</key>
	<string>Sr. No.</string>
	<key>IPAD011_TAG008</key>
	<string>Connection Error</string>
	<key>New item - 3</key>
	<string></string>
	<key>IPAD018_TAG067</key>
	<string>Data purge in progress</string>
	<key>SFM002_TAG003</key>
	<string>Update</string>
	<key>IPAD006_TAG013</key>
	<string>Friday</string>
	<key>IPAD012_TAG055</key>
	<string>Sign Out</string>
	<key>IPAD006_TAG124</key>
	<string>Edit</string>
	<key>IPAD018_TAG178</key>
	<string>ServiceMax needs to purge old appointments and work orders.</string>
	<key>IPAD015_TAG022</key>
	<string>Logging out...</string>
	<key>IPAD024_TAG009</key>
	<string>Photos and Videos</string>
	<key>IPAD018_TAG100</key>
	<string>Data Sync Status</string>
	<key>IPAD019_TAG016</key>
	<string>Product History and Records</string>
	<key>IPAD018_TAG167</key>
	<string>Doing so will cancel or interrupt the synchronization.</string>
	<key>IPAD006_TAG002</key>
	<string>Schedule</string>
	<key>IPAD013_TAG004</key>
	<string>Map Directions</string>
	<key>IPAD012_TAG044</key>
	<string>Setting up batches to download</string>
	<key>IPAD006_TAG113</key>
	<string>Internet connection appears to be offline</string>
	<key>IPAD015_TAG011</key>
	<string>Your Salesforce Profile is not associated with any active ServiceMax Group Profile. Please contact your ServiceMax administrator to resolve this.</string>
	<key>IPAD019_TAG005</key>
	<string>Enter keyword here...</string>
	<key>IPAD018_TAG045</key>
	<string>Connecting to Salesforce...</string>
	<key>IPAD006_TAG102</key>
	<string>Please select a guest.</string>
	<key>IPAD018_TAG156</key>
	<string>Sync Conflict Resolution</string>
	<key>IPAD012_TAG033</key>
	<string>Created Date</string>
	<key>IPAD018_TAG034</key>
	<string>Reset Application</string>
	<key>IPAD014_TAG009</key>
	<string>Line Items</string>
	<key>IPAD018_TAG145</key>
	<string>This will remove all data stored on this iPad and re-synchronize with the server.</string>
	<key>IPAD012_TAG022</key>
	<string>Now downloading object definitions</string>
	<key>IPAD006_TAG047</key>
	<string>Jun</string>
	<key>IPAD004_TAG029</key>
	<string>eMail</string>
	<key>IPAD014_TAG096</key>
	<string>Please fill description.</string>
	<key>IPAD018_TAG023</key>
	<string>Synchronization completed successfully</string>
	<key>IPAD010_TAG002</key>
	<string>Set Priority:</string>
	<key>IPAD014_TAG109</key>
	<string>Add Selected</string>
	<key>IPAD006_TAG036</key>
	<string>This action will reschedule the selected event. Are you sure you want to continue?</string>
	<key>IPAD012_TAG011</key>
	<string>Help</string>
	<key>IPAD009_TAG003</key>
	<string>as</string>
	<key>IPAD004_TAG018</key>
	<string>Date</string>
	<key>IPAD018_TAG012</key>
	<string>Sync Events</string>
	<key>IPAD018_TAG123</key>
	<string>of</string>
	<key>IPAD018_TAG079</key>
	<string>Database Clean Up</string>
	<key>IPAD006_TAG025</key>
	<string>October</string>
	<key>IPAD011_TAG009</key>
	<string>Switch User</string>
	<key>IPAD004_TAG007</key>
	<string>Parts</string>
	<key>IPAD018_TAG001</key>
	<string>Invalid user credentials.</string>
	<key>New item - 7</key>
	<string></string>
	<key>IPAD018_TAG068</key>
	<string>Data purge succeeded</string>
	<key>IPAD006_TAG014</key>
	<string>Saturday</string>
	<key>IPAD006_TAG125</key>
	<string>No tasks found. Try adding new task.</string>
	<key>IPAD012_TAG056</key>
	<string>Explore</string>
	<key>IPAD018_TAG179</key>
	<string>Purge Now</string>
	<key>IPAD025_TAG001</key>
	<string>Please login with same user ID used for Pulse App</string>
	<key>IPAD015_TAG023</key>
	<string>Signed Out</string>
	<key>IPAD025_TAG012</key>
	<string>View</string>
	<key>IPAD018_TAG057</key>
	<string>Push Logs</string>
	<key>IPAD013_TAG005</key>
	<string>To</string>
	<key>IPAD006_TAG003</key>
	<string>Day</string>
	<key>IPAD012_TAG045</key>
	<string>Downloading Data</string>
	<key>IPAD024_TAG030</key>
	<string>Attachment download complete:</string>
	<key>IPAD018_TAG168</key>
	<string>Retrying...</string>
	<key>New item - 11</key>
	<string></string>
	<key>IPAD008_TAG010</key>
	<string>Invalid facetime configuration.</string>
	<key>IPAD015_TAG012</key>
	<string>Your remote access has been revoked. Please navigate back to the home screen to logout and re-authenticate.</string>
	<key>IPAD014_TAG052</key>
	<string>more</string>
	<key>IPAD006_TAG114</key>
	<string>Your remote access has been revoked. Please navigate back to the Tools screen to logout and re-authenticate</string>
	<key>IPAD006_TAG090</key>
	<string>Tomorrow</string>
	<key>IPAD019_TAG006</key>
	<string>Go!</string>
	<key>IPAD018_TAG046</key>
	<string>Retrieving data from Salesforce...</string>
	<key>IPAD018_TAG157</key>
	<string>Resolution will be applied at next sync</string>
	<key>IPAD006_TAG103</key>
	<string>Delete Event</string>
	<key>IPAD012_TAG034</key>
	<string>Now downloading configuration settings</string>
	<key>IPAD018_TAG059</key>
	<string>In Progress</string>
	<key>IPAD015_TAG001</key>
	<string>Username</string>
	<key>IPAD014_TAG041</key>
	<string>Resolution</string>
	<key>IPAD018_TAG035</key>
	<string>Remove</string>
	<key>IPAD018_TAG146</key>
	<string>This process can take several minutes. You will be unable to use your iPad during app reset.</string>
	<key>IPAD012_TAG023</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD006_TAG048</key>
	<string>Jul</string>
	<key>IPAD014_TAG030</key>
	<string>This schedule is overlapping with the following event(s). Are you sure you want to continue?</string>
	<key>IPAD014_TAG097</key>
	<string>billing type</string>
	<key>IPAD018_TAG024</key>
	<string>Choose an object to view sync errors</string>
	<key>IPAD010_TAG003</key>
	<string>Low</string>
	<key>SVMX_ORG_PREFIX</key>
	<string>SVMX</string>
	<key>IPAD006_TAG037</key>
	<string>Yes</string>
	<key>IPAD012_TAG012</key>
	<string>Show ServiceMax help</string>
	<key>IPAD018_TAG135</key>
	<string>Config Sync</string>
	<key>IPAD009_TAG004</key>
	<string>About</string>
	<key>IPAD014_TAG130</key>
	<string>Download</string>
	<key>IPAD004_TAG019</key>
	<string>Address</string>
	<key>IPAD014_TAG086</key>
	<string>Add</string>
	<key>IPAD018_TAG013</key>
	<string>Sync Data</string>
	<key>IPAD012_TAG001</key>
	<string>Tasks</string>
	<key>IPAD006_TAG026</key>
	<string>November</string>
	<key>IPAD004_TAG008</key>
	<string>Labor</string>
	<key>IPAD014_TAG075</key>
	<string>Update</string>
	<key>IPAD018_TAG002</key>
	<string>Synchronize</string>
	<key>IPAD018_TAG069</key>
	<string>Data purge failed </string>
	<key>IPAD006_TAG015</key>
	<string>Sunday</string>
	<key>IPAD006_TAG126</key>
	<string>s</string>
	<key>IPAD012_TAG057</key>
	<string>New Item</string>
	<key>SFM002_TAG007</key>
	<string>Delete</string>
	<key>IPAD025_TAG002</key>
	<string>Please login with same org ID used for Pulse App</string>
	<key>IPAD015_TAG024</key>
	<string>You have been signed out.</string>
	<key>IPAD018_TAG198</key>
	<string>Purge Data Now</string>
	<key>IPAD018_TAG195</key>
	<string>Purge Data Status</string>
	<key>IPAD018_TAG058</key>
	<string>Push Log Status</string>
	<key>IPAD018_TAG142</key>
	<string>Push Logs Now</string>
	<key>IPAD013_TAG006</key>
	<string>Driving Directions</string>
	<key>IPAD006_TAG004</key>
	<string>Week</string>
	<key>IPAD012_TAG046</key>
	<string>Downloading records</string>
	<key>IPAD018_TAG169</key>
	<string>status</string>
	<key>IPAD006_TAG115</key>
	<string>to</string>
	<key>IPAD015_TAG013</key>
	<string>A server with the specified hostname could not be found.</string>
	<key>IPAD008_TAG011</key>
	<string>New post</string>
	<key>IPAD014_TAG053</key>
	<string>problem description</string>
	<key>IPAD019_TAG007</key>
	<string>Search Results</string>
	<key>IPAD006_TAG091</key>
	<string>Add Event</string>
	<key>SERVICE_REPORT_EXPENSES_LINE_PRICE</key>
	<string>Line Price</string>
	<key>IPAD018_TAG047</key>
	<string>Saving data for offline use....</string>
	<key>IPAD018_TAG158</key>
	<string>Change Resolution</string>
	<key>IPAD012_TAG035</key>
	<string>Downloading Mobile Configuration</string>
	<key>IPAD024_TAG020</key>
	<string>The file could not be saved to the local device. Please check your available device storage</string>
	<key>IPAD006_TAG104</key>
	<string>Select Date and Time</string>
	<key>IPAD015_TAG002</key>
	<string>Password</string>
	<key>IPAD014_TAG042</key>
	<string>SLA Clocks</string>
	<key>IPAD018_TAG147</key>
	<string>App Reset in Progress</string>
	<key>IPAD007_TAG009</key>
	<string>Text Size</string>
	<key>IPAD012_TAG024</key>
	<string>Now downloading object definitions</string>
	<key>IPAD006_TAG049</key>
	<string>Aug</string>
	<key>IPAD014_TAG031</key>
	<string>Related To</string>
	<key>IPAD014_TAG098</key>
	<string>Please select a customer.</string>
	<key>IPAD018_TAG025</key>
	<string>Synchronization failed. Correct the errors and try again.</string>
	<key>IPAD010_TAG004</key>
	<string>Normal</string>
	<key>IPAD006_TAG038</key>
	<string>No</string>
	<key>IPAD012_TAG013</key>
	<string>No events present for the day.</string>
	<key>IPAD014_TAG020</key>
	<string>Invalid Url</string>
	<key>IPAD014_TAG131</key>
	<string>Cancel Download</string>
	<key>IPAD018_TAG014</key>
	<string>Configuration Synchronization</string>
	<key>IPAD012_TAG002</key>
	<string>Track the tasks you plan to perform or have performed, such as making phone calls or sending mail.</string>
	<key>IPAD006_TAG027</key>
	<string>December</string>
	<key> IPAD018_TAG041</key>
	<string>Are you sure you want to synchronize configuration?</string>
	<key>IPAD014_TAG120</key>
	<string>text area</string>
	<key>IPAD004_TAG009</key>
	<string>Expenses</string>
	<key>IPAD014_TAG076</key>
	<string>Limit to</string>
	<key>SFM002_TAG094</key>
	<string>AM</string>
	<key>IPAD018_TAG003</key>
	<string>Status</string>
	<key>IPAD006_TAG127</key>
	<string>t</string>
	<key>IPAD025_TAG003</key>
	<string>Invalid notification</string>
	<key>IPAD012_TAG058</key>
	<string>Recently Created</string>
	<key>SFM002_TAG033</key>
	<string>SFM Transaction Manager</string>
	<key>IPAD015_TAG025</key>
	<string>Thanks for using ServiceMax Mobile!</string>
	<key>IPAD013_TAG007</key>
	<string>Job Details</string>
	<key>IPAD006_TAG005</key>
	<string>Today</string>
	<key>IPAD012_TAG047</key>
	<string>Downloading Data</string>
	<key>IPAD024_TAG032</key>
	<string>The selected attachment will be removed and will be deleted from the server at the next sync. This action cannot be undone.</string>
	<key>IPAD006_TAG116</key>
	<string>Create Event</string>
	<key>IPAD015_TAG014</key>
	<string>A server with the specified hostname could not be found. Please check your custom host URL settings.</string>
	<key>IPAD008_TAG012</key>
	<string>Reply</string>
	<key>IPAD018_TAG190</key>
	<string>Application Level Log Setting is OFF.</string>
	<key>New item - 23</key>
	<string></string>
	<key>IPAD019_TAG008</key>
	<string>Contains</string>
	<key>IPAD006_TAG092</key>
	<string>Month</string>
	<key>IPAD018_TAG048</key>
	<string>Data On Demand (DOD): Preparing for DOD download</string>
	<key>IPAD006_TAG105</key>
	<string>This time overlaps with another appointment</string>
	<key>IPAD018_TAG159</key>
	<string>Download complete.</string>
	<key>IPAD012_TAG036</key>
	<string>Now downloading SFM Search details</string>
	<key>IPAD024_TAG021</key>
	<string>Unauthorized Access. You do not have permission to perform this action</string>
	<key>IPAD015_TAG003</key>
	<string>I don&apos;t have a ServiceMax login. I want to sign-up for a free trial.</string>
	<key>IPAD008_TAG001</key>
	<string>Chatter is either not enabled in your org or not enabled for Installed Products. Please contact your Salesforce administrator</string>
	<key>IPAD014_TAG043</key>
	<string>purpose of visit</string>
	<key>IPAD006_TAG081</key>
	<string>Lists</string>
	<key>IPAD018_TAG037</key>
	<string>Retry</string>
	<key>SFM_ACTIONPOPOVER_LIST_2</key>
	<string>Troubleshooting</string>
	<key>IPAD018_TAG148</key>
	<string>Please do not switch to another application or press the home button during this progress.</string>
	<key>IPAD022_TAG004</key>
	<string>Completed</string>
	<key>IPAD018_TAG206</key>
	<string>Service Report Sync Status</string>
	<key>IPAD018_TAG207</key>
	<string>View Files</string>
	<key>IPAD018_TAG209</key>
	<string>Smart Documents</string>
	<key>IPAD018_TAG208</key>
	<string>service report(s) are in queue for sync</string>
	<key>IPAD012_TAG059</key>
	<string>Sign out ends your session with ServiceMax Mobile. You will need to sign in again to regain access.</string>
	<key>IPAD014_TAG139</key>
	<string>No items entered</string>
	<key>IPAD018_TAG200</key>
	<string>Please wait for this action to complete. </string>
	<key>IPAD013_TAG014</key>
	<string>Service location is not shown because valid address does not exist for this record: </string>
	<key>IPAD013_TAG013</key>
	<string>Service locations are not shown because valid address does not exist for these records: </string>
	<key>IPAD018_TAG196</key>
	<string>last purge </string>
	<key>IPAD018_TAG197</key>
	<string>next purge </string>
	<key>IPAD018_TAG201</key>
	<string>Do not press the home button during this action or the purge will be cancelled </string>
	<key>IPAD015_TAG026</key>
	<string>Sign In</string>
	<key>IPAD018_TAG199</key>
	<string>Purge Data Progress</string>
	<key>IPAD018_TAG215</key>
	<string>last push logs</string>
	<key>IPAD014_TAG140</key>
	<string>ProductIQ</string>
	<key>IPAD014_TAG141</key>
	<string>Open tree view</string>
	<key>IPAD006_TAG132</key>
	<string>Only Gregorian calendar supported. Open Settings, then Language and Region, then Calendar to select Gregorian calendar.</string>
	<key>IPAD014_TAG144</key>
	<string>You must add at least one line to save this record.</string>
	<key>IPAD014_TAG145</key>
	<string>You have not created any lines.</string>
	<key>IPAD014_TAG146</key>
	<string>Do you still want to save?</string>
</dict>
</plist>
