@charset "utf-8";
/* CSS Document */
body {
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding: 0px;
	background-color:#6090c0;
	background-attachment: fixed;
	background-position:center;
}

.MainContainer {
	margin: auto;
	padding: 0px;
	width: 1025px;
	
	background-repeat: no-repeat;
	border-top-style: none;
	border-bottom-style: none;
	background-color: #FFF;
	height: 100%;
	overflow: hidden;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #210505;
	border-left-color: #210505;
}

.topcontainer {
	float:left;
	background-color:#eceef0;
	width: 1025px;
	background-repeat:no-repeat;
}

.topcontainerLeft {
	float:left;
	background-image:url(iService-help1_with-slices_02.gif);
	width: 937px;
	height:59px;
	background-repeat:no-repeat;
}
.topcontainerRight {
	float:left;
	background-color:#eceef0;
	width: 88px;
	background-repeat:no-repeat;
}

.textHeading {
	
	padding-top:15px;
	font-size:20px;
	font-family:Verdana;
	padding-left:20px;
	color:#fff;
	float: left;
}
.toplinkcontainer {
	height: 51px;
	background-color:#2d63a7;
	width: 1025px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.linkfirstLeft
{
	float:left;
	background-color:#eceef0;
	width: 20px;
	background-repeat:no-repeat;
}
.linkfirstright
{
	float:left;
	background-color:#eceef0;
	width: 10px;
	background-repeat:no-repeat;
}
.link1
{
	float:left;
	background-image:url(iService-help1_with-slices_05.gif);
	width: 147px;
	height: 51px;
	background-repeat:no-repeat;
}
#linkText1
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:15px;
	color:#fff;
	float: left;
}
#linkText1 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(images/btnselected.png);*/
	background-repeat:no-repeat;
}


.linkDevider1
{
	float:left;
	width: 8px;
	height: 51px;
	background-repeat:no-repeat;
}
.linkDevider
{
	float:left;
	width: 2px;
	height: 51px;
	background-repeat:no-repeat;
}
.link2
{
	float:left;
	background-image:url(iService-help1_with-slices_08.gif);
	width: 202px;
	height: 51px;
	background-repeat:no-repeat;
}
#linkText2
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}
#linkText2 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(images/btnselected.png);*/
	background-repeat:no-repeat;
}

.link3
{
	float:left;
	background-image:url(iService-help1_with-slices_10.gif);
	width: 208px;
	height: 51px;
	background-repeat:no-repeat;
}
#linkText3
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}
#linkText3 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(images/btnselected.png);*/
	background-repeat:no-repeat;
}
.link4
{
	float:left;
	background-image:url(iService-help1_with-slices_12.gif);
	width: 224px;
	height: 51px;
	background-repeat:no-repeat;
}

#linkText4
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}
#linkText4 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(images/btnselected.png);*/
	background-repeat:no-repeat;
}

.link5
{
	float:left;
	background-image:url(iService-help1_with-slices_13.gif);
	width: 199px;
	height: 51px;
	background-repeat:no-repeat;
}
#linkText5
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}

.Blockcontainer {
	background-color:#f2f3f5;
	width: 1025px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.topleftimg{
	float:left;
	background-repeat:no-repeat;
}
.toprightimg{
	float:right;
	background-repeat:no-repeat;
}
.BlockcontainerTopBorder {
	width: 984px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerTopText {
	width: 984px;
	height:62px;
	background-image:url(iService-help1_with-slices_17.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerTopTextDescription {
	padding-left:15px;
	padding-right:15px;
	padding-top:18px;
	color:#333333;
	font-size:12px;
	font-family:Verdana;
	width: 954px;
	height:62px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerLeft {
	width: 387px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerMiddleBorder {
	width: 8px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRight {
	width: 588px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightText {
	width: 588px;
	height:43px;
	background-image:url(iService-help1_with-slices_21.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightTextDescription {
	padding-left:22px;
	padding-right:20px;
	padding-top:13px;
	color:#666666;
	font-size:16px;
	font-family:Verdana;
	width: 546px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightTextDescription11 {
	padding-left:22px;
	padding-right:20px;
	padding-top:13px;
	color:#666666;
	font-size:16px;
	font-family:Verdana;
	width: 400px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightLeft {
	width: 295px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRight {
	width: 292px;
	background-color:#ffffff;
	margin: 0px;
	float:right;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeader {
	width: 295px;
	height:47px;
	background-image:url(iService-help1_with-slices_22.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderDescription {
	padding-left:80px;
	padding-top:14px;
	color:#333333;
	font-size:17px;
	font-family:Verdana;
	width: 210px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderDescription1 {
	padding-left:80px;
	padding-top:17px;
	color:#333333;
	font-size:17px;
	font-family:Verdana;
	width: 210px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightHeaderBottom {
	width: 295px;
	height:51px;
	background-image:url(iService-help1_with-slices_29.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightDescriptionText {
	width: 295px;
	height:76px;
	background-image:url(iService-help1_with-slices_25.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightDescriptionTextShow {
	width: 240px;
	padding-left:40px;
	padding-top:10px;
	padding-right:15px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightDescriptionTextShow1 {
	width: 230px;
	padding-left:35px;
	padding-top:10px;
	padding-right:15px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightDescriptionTextBottom {
	width: 295px;
	height:80px;
	background-image:url(iService-help1_with-slices_31.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightBottomBorderLeft{
	width: 295px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightBottomBorderRight{
	width: 292px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightMiddleBorder{
	width: 1px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRight {
	width: 292px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightRightHeader {
	width: 292px;
	height:47px;
	background-image:url(iService-help1_with-slices_24.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRightHeaderBottom {
	width: 292px;
	height:51px;
	background-image:url(iService-help1_with-slices_30.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRightDescriptionText {
	width: 292px;
	height:76px;
	background-image:url(iService-help1_with-slices_26.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRightDescriptionTextBottom {
	width: 292px;
	height:80px;
	background-image:url(iService-help1_with-slices_32.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomDevider {
	width: 8px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomleft {
	width: 477px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderleft {
	width: 477px;
	height:43px;
	background-image:url(iService-help1_with-slices_34.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomHeaderDescriptionleft {
	width: 477px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderMiddleBordeleft {
	width: 1px;
	height:154px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomHeaderBottomBordeleft {
	width: 226px;
	height:1px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderBottomBorderight {
	width: 250px;
	height:1px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomInnerDescriptionleft1
{
	width: 226px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomInnerDescriptionleft2
{
	width: 250px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomInnerDescriptionleft
{
	width: 226px;
	height:76px;
	background-image:url(iService-help1_with-slices_37.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomInnerDescriptionleftText
{
	padding-left:40px;
	padding-top:15px;
	width: 186px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomright {
	width: 498px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderright {
	width: 498px;
	height:43px;
	background-image:url(iService-help1_with-slices_36.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomHeaderDescriptionright {
	width: 498px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomInnerDescriptionRight
{
	width: 250px;
	height:76px;
	background-image:url(iService-help1_with-slices_39.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.RightBlockleft{
	width: 79px;
	height:52px;
	background-image:url(iService-help1_with-slices_44.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockright{
	width: 403px;
	height:52px;
	background-image:url(iService-help1_with-slices_45.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockrightText{
	padding-left:10px;
	padding-top:10px;
	width: 393px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockrightText1{
	padding-left:10px;
	padding-top:6px;
	width: 393px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockrightText2{
	padding-left:10px;
	padding-top:3px;
	width: 393px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}


.RightBlockBorder{
	width: 15px;
	height:52px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}


.RightBlockleft1{
	width: 79px;
	height:47px;
	background-image:url(iService-help1_with-slices_50.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockleft1Text{
	width: 49px;
	padding-left:30px;
	padding-top:15px;
	font-weight:bold;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockleft1Text1{
	width: 49px;
	padding-left:30px;
	padding-top:12px;
	font-weight:bold;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.RightBlockright1{
	width: 403px;
	height:47px;
	background-image:url(iService-help1_with-slices_51.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockBorder1{
	width: 15px;
	height:47px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.RightBlockleft2{
	width: 79px;
	height:40px;
	background-image:url(iService-help1_with-slices_57.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockright2{
	width: 403px;
	height:40px;
	background-image:url(iService-help1_with-slices_58.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockBorder2{
	width: 15px;
	height:40px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.copyContainer
{
	width: 815px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.copyContainerRight
{
	width: 210px;
	height:16px;
	background-image:url(iService-help1_with-slices_61.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.copyContainerRightText
{
	width: 210px;
	padding-left:20px;
	color:#ffffff;
	font-size:10px;
	font-family:Verdana;
}