<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DataSync</key>
		<dict>
			<key>EventSync</key>
			<string>Next</string>
			<key>MetaSync</key>
			<string>Next</string>
			<key>PushLogs</key>
			<string>Next</string>
			<key>AttachmentUpload</key>
			<string>Next</string>
			<key>AttachmentDownload</key>
			<string>Next</string>
			<key>DataPurge</key>
			<string>Next</string>
			<key>CustomWebService</key>
			<string>Parallel</string>
			<key>LocationPing</key>
			<string>Parallel</string>
			<key>DownloadOnDemand</key>
			<string>Parallel</string>
			<key>DataSync</key>
			<string>NotAllowed</string>
		</dict>
	</dict>
	<dict>
		<key>EventSync</key>
		<dict>
			<key>MetaSync</key>
			<string>Next</string>
			<key>DataSync</key>
			<string>Next</string>
			<key>PushLogs</key>
			<string>Next</string>
			<key>AttachmentUpload</key>
			<string>Next</string>
			<key>AttachmentDownload</key>
			<string>Next</string>
			<key>DataPurge</key>
			<string>Next</string>
			<key>CustomWebService</key>
			<string>Parallel</string>
			<key>LocationPing</key>
			<string>Parallel</string>
			<key>DownloadOnDemand</key>
			<string>Parallel</string>
			<key>EventSync</key>
			<string>NotAllowed</string>
		</dict>
	</dict>
	<dict>
		<key>CustomWebService</key>
		<dict>
			<key>MetaSync</key>
			<string>Next</string>
			<key>DataSync</key>
			<string>Parallel</string>
			<key>PushLogs</key>
			<string>Next</string>
			<key>AttachmentUpload</key>
			<string>Parallel</string>
			<key>AttachmentDownload</key>
			<string>Parallel</string>
			<key>DataPurge</key>
			<string>Next</string>
			<key>CustomWebService</key>
			<string>NotAllowed</string>
			<key>LocationPing</key>
			<string>Parallel</string>
			<key>DownloadOnDemand</key>
			<string>Parallel</string>
			<key>EventSync</key>
			<string>Parallel</string>
		</dict>
	</dict>
	<dict>
		<key>DataPurge</key>
		<dict>
			<key>MetaSync</key>
			<string>NotAllowed</string>
			<key>DataSync</key>
			<string>Immediate</string>
			<key>PushLogs</key>
			<string>NotAllowed</string>
			<key>AttachmentUpload</key>
			<string>Next</string>
			<key>AttachmentDownload</key>
			<string>Next</string>
			<key>DataPurge</key>
			<string>NotAllowed</string>
			<key>CustomWebService</key>
			<string>NotAllowed</string>
			<key>LocationPing</key>
			<string>Parallel</string>
			<key>DownloadOnDemand</key>
			<string>NotAllowed</string>
			<key>EventSync</key>
			<string>Immediate</string>
		</dict>
	</dict>
	<dict>
		<key>AttachmentUpload</key>
		<dict>
			<key>MetaSync</key>
			<string>Immediate</string>
			<key>DataSync</key>
			<string>Immediate</string>
			<key>PushLogs</key>
			<string>Immediate</string>
			<key>AttachmentUpload</key>
			<string>Next</string>
			<key>AttachmentDownload</key>
			<string>Next</string>
			<key>DataPurge</key>
			<string>Immediate</string>
			<key>CustomWebService</key>
			<string>Parallel</string>
			<key>LocationPing</key>
			<string>Parallel</string>
			<key>DownloadOnDemand</key>
			<string>Parallel</string>
			<key>EventSync</key>
			<string>Immediate</string>
		</dict>
	</dict>
	<dict>
		<key>AttachmentDownload</key>
		<dict>
			<key>MetaSync</key>
			<string>Immediate</string>
			<key>DataSync</key>
			<string>Immediate</string>
			<key>PushLogs</key>
			<string>Immediate</string>
			<key>AttachmentUpload</key>
			<string>Next</string>
			<key>AttachmentDownload</key>
			<string>Next</string>
			<key>DataPurge</key>
			<string>Immediate</string>
			<key>CustomWebService</key>
			<string>Parallel</string>
			<key>LocationPing</key>
			<string>Parallel</string>
			<key>DownloadOnDemand</key>
			<string>Parallel</string>
			<key>EventSync</key>
			<string>Immediate</string>
		</dict>
	</dict>
	<dict>
		<key>PushLogs</key>
		<dict>
			<key>MetaSync</key>
			<string>NotAllowed</string>
			<key>DataSync</key>
			<string>NotAllowed</string>
			<key>PushLogs</key>
			<string>NotAllowed</string>
			<key>AttachmentUpload</key>
			<string>NotAllowed</string>
			<key>AttachmentDownload</key>
			<string>NotAllowed</string>
			<key>DataPurge</key>
			<string>NotAllowed</string>
			<key>CustomWebService</key>
			<string>NotAllowed</string>
			<key>LocationPing</key>
			<string>NotAllowed</string>
			<key>DownloadOnDemand</key>
			<string>NotAllowed</string>
			<key>EventSync</key>
			<string>NotAllowed</string>
		</dict>
	</dict>
	<dict>
		<key>VersionCheck</key>
		<dict>
			<key>MetaSync</key>
			<string>NotAllowed</string>
			<key>DataSync</key>
			<string>NotAllowed</string>
			<key>PushLogs</key>
			<string>NotAllowed</string>
			<key>AttachmentUpload</key>
			<string>NotAllowed</string>
			<key>AttachmentDownload</key>
			<string>NotAllowed</string>
			<key>DataPurge</key>
			<string>NotAllowed</string>
			<key>CustomWebService</key>
			<string>NotAllowed</string>
			<key>LocationPing</key>
			<string>NotAllowed</string>
			<key>DownloadOnDemand</key>
			<string>NotAllowed</string>
			<key>EventSync</key>
			<string>NotAllowed</string>
		</dict>
	</dict>
	<dict>
		<key>ValidateProfile</key>
		<dict>
			<key>MetaSync</key>
			<string>NotAllowed</string>
			<key>DataSync</key>
			<string>NotAllowed</string>
			<key>PushLogs</key>
			<string>NotAllowed</string>
			<key>AttachmentUpload</key>
			<string>NotAllowed</string>
			<key>AttachmentDownload</key>
			<string>NotAllowed</string>
			<key>DataPurge</key>
			<string>NotAllowed</string>
			<key>CustomWebService</key>
			<string>NotAllowed</string>
			<key>LocationPing</key>
			<string>NotAllowed</string>
			<key>DownloadOnDemand</key>
			<string>NotAllowed</string>
			<key>EventSync</key>
			<string>NotAllowed</string>
		</dict>
	</dict>
	<dict>
		<key>GetTags</key>
		<dict>
			<key>MetaSync</key>
			<string>NotAllowed</string>
			<key>DataSync</key>
			<string>NotAllowed</string>
			<key>PushLogs</key>
			<string>NotAllowed</string>
			<key>AttachmentUpload</key>
			<string>NotAllowed</string>
			<key>AttachmentDownload</key>
			<string>NotAllowed</string>
			<key>DataPurge</key>
			<string>NotAllowed</string>
			<key>CustomWebService</key>
			<string>NotAllowed</string>
			<key>LocationPing</key>
			<string>NotAllowed</string>
			<key>DownloadOnDemand</key>
			<string>NotAllowed</string>
			<key>EventSync</key>
			<string>NotAllowed</string>
		</dict>
	</dict>
	<dict>
		<key>SFMSearch</key>
		<dict>
			<key>MetaSync</key>
			<string>NotAllowed</string>
			<key>DataSync</key>
			<string>NotAllowed</string>
			<key>PushLogs</key>
			<string>NotAllowed</string>
			<key>AttachmentUpload</key>
			<string>NotAllowed</string>
			<key>AttachmentDownload</key>
			<string>NotAllowed</string>
			<key>DataPurge</key>
			<string>NotAllowed</string>
			<key>CustomWebService</key>
			<string>NotAllowed</string>
			<key>LocationPing</key>
			<string>NotAllowed</string>
			<key>DownloadOnDemand</key>
			<string>NotAllowed</string>
			<key>EventSync</key>
			<string>NotAllowed</string>
		</dict>
	</dict>
</array>
</plist>
