@charset "utf-8";
/* CSS Document */
body {
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding: 0px;
	background-color:#6090c0;
	background-attachment: fixed;
	background-position:center;
}

.MainContainer {
	margin: auto;
	padding: 0px;
	width: 1025px;
	clear:both;
	background-repeat: no-repeat;
	border-top-style: none;
	border-bottom-style: none;
	background-color: #ffffff;
	height: 100%;
	overflow: hidden;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #210505;
	border-left-color: #210505;
}

.topcontainer {
	float:left;
	background-color:#ffffff;
	width: 1025px;
	background-repeat:no-repeat;
}

.topcontainerLeft {
	float:left;
	background-image:url(iService-help1_with-slices_02.gif);
	width: 937px;
	height:59px;
	background-repeat:no-repeat;
}
.topcontainerRight {
	float:left;
	background-color:#eceef0;
	width: 88px;
	background-repeat:no-repeat;
}

.textHeading {
	
	padding-top:15px;
	font-size:20px;
	font-family:Verdana;
	padding-left:20px;
	color:#fff;
	float: left;
}
.toplinkcontainer {
	height: 51px;
	background-color:#2d63a7;
	width: 1025px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.linkfirstLeft
{
	float:left;
	background-color:#eceef0;
	width: 20px;
	background-repeat:no-repeat;
}
.linkfirstright
{
	float:left;
	background-color:#eceef0;
	width: 10px;
	background-repeat:no-repeat;
}
.link1
{
	float:left;
	background-image:url(iService-help1_with-slices_05.gif);
	width: 147px;
	height: 51px;
	padding-top:8px;
	background-repeat:no-repeat;
}
#linkText1
{
	/*padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:15px;
	color:#fff;*/
	/*background-image:url(b.png);*/
	width: 147px;
	height: 39px;
	float: left;
	background-repeat:no-repeat;
}
#linkText1 a
{
	padding-top:5px;
	font-size:18px;
	font-family:Verdana;
	padding-left:15px;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(btnselected.png);*/
	background-repeat:no-repeat;
}


.linkDevider1
{
	float:left;
	width: 8px;
	height: 51px;
	background-repeat:no-repeat;
}
.linkDevider
{
	float:left;
	width: 2px;
	height: 51px;
	background-repeat:no-repeat;
}
.link2
{
	float:left;
	background-image:url(iService-help1_with-slices_08.gif);
	width: 202px;
	height: 51px;
	background-repeat:no-repeat;
}
#linkText2
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}
#linkText2 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(btnselected.png);*/
	background-repeat:no-repeat;
}

.link3
{
	float:left;
	background-image:url(iService-help1_with-slices_10.gif);
	width: 208px;
	height: 51px;
	background-repeat:no-repeat;
}
#linkText3
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}
#linkText3 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(btnselected.png);*/
	background-repeat:no-repeat;
}
.link4
{
	float:left;
	background-image:url(iService-help1_with-slices_12.gif);
	width: 224px;
	height: 51px;
	background-repeat:no-repeat;
}

#linkText4
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}
#linkText4 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(btnselected.png);*/
	background-repeat:no-repeat;
}

.link5
{
	float:left;
	background-image:url(iService-help1_with-slices_130.gif);
	width: 199px;
	height: 51px;
	background-repeat:no-repeat;
}
#linkText5
{
	padding-top:13px;
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}
.link6
{
	float:left;
	background-image:url(iService-help1_with-slices_12.gif);
	width: 224px;
	height: 51px;
	background-repeat:no-repeat;
}

#linkText6
{
	font-size:18px;
	font-family:Verdana;
	padding-left:25px;
	color:#fff;
	float: left;
}

.link7
{
background-image: url("iService-help1_with-slices_12.gif");
    float: left;
    height: 51px;
    padding-left:2px;
    padding-right:2px;
    color:#fff;
    width: 28%;

}


#linkText6 a
{
	font-size:18px;
	font-family:Verdana;
	color:#fff;
	float: left;
	text-decoration:none;
	/*background-image:url(btnselected.png);*/
	background-repeat:no-repeat;
}



.Blockcontainer {
	background-color:#f2f3f5;
	width: 1025px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerConfig {
	background-color:#f2f3f5;
	width: 1025px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.topleftimg{
	float:left;
	background-color:#d6dae0;
	background-repeat:no-repeat;
}
.toprightimg{
	float:right;
	background-color:#d6dae0;
	background-repeat:no-repeat;
}
.BlockcontainerTopBorder {
	width: 984px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
	overflow:hidden;
}

.BlockcontainerTopText {
	width: 984px;
	background-image:url(iService-help1_with-slices_17.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerTopTextDescription {
	padding-left:15px;
	padding-right:15px;
	padding-top:18px;
	color:#333333;
	font-size:12px;
	font-family:Verdana;
	width: 954px;
	height:62px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerTopTextDescriptionForThreeLine {	
	padding:15px;
	color:#333333;
	font-size:12px;
	font-family:Verdana;
	width: 954px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerLeft {
	width: 984px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerMiddleBorder {
	width: 8px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRight {
	width: 429px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightText {
	width: 430px;
	background-color:#f2f3f5;
	height:43px;
	background-image:url(iService-help1_with-slices_20.gif);
	background-repeat:no-repeat;
}
.BlockcontainerRightTextDescription {
	padding-left:20px;
	padding-top:13px;
	color:#666666;
	font-size:16px;
	font-family:Verdana;
	width: 409px;
	background-repeat:no-repeat;
}
.BlockcontainerRightTextDescription11 {
	padding-left:22px;
	padding-right:20px;
	padding-top:13px;
	color:#666666;
	font-size:16px;
	font-family:Verdana;
	width: 400px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightLeft {
	width: 295px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRight {
	width: 292px;
	background-color:#ffffff;
	margin: 0px;
	float:right;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeader {
	width: 429px;
	/*height:376px;*/
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderConfig {
	width: 984px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderNew {
	width: 429px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightHeaderNewConfig {
	width: 984px;
	height:43px;
	background-image:url(headerNew.png);
	background-color:#f2f3f5;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderDescriptionImageNumber {
	padding-left:10px;
	padding-top:6px;
	
	width: 29px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightHeaderDescriptionHeading {
	padding-left:10px;
	padding-top:11px;
	color:#666666;
	font-size:16px;
	font-family:Verdana;
	width: 900px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderDescription {
	padding-left:10px;
	padding-top:11px;
	padding-bottom:8px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	width: 350px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderDescriptionConfig {
	padding-left:35px;
	padding-top:10px; padding-bottom:10px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	width: 930px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightHeaderDescriptionConfigSubPoint {
	padding-left:50px;
	padding-top:11px;
	color:#333333;
	padding-bottom:5px;
	font-size:11px;
	font-family:Verdana;
	width: 915px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightHeaderDescriptionConfigSubPointNested {
	padding-left:15px;
	padding-top:11px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	width: 900px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderDescriptionConfigSubText {
	padding-left:20px;
	padding-bottom:2px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	width: 910px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightHeaderDescription1 {
	padding-left:80px;
	padding-top:17px;
	color:#333333;
	font-size:17px;
	font-family:Verdana;
	width: 210px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightHeaderBottom {
	width: 295px;
	height:51px;
	background-image:url(iService-help1_with-slices_29.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightDescriptionText {
	width: 295px;
	height:76px;
	background-image:url(iService-help1_with-slices_25.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightDescriptionTextShow {
	width: 240px;
	padding-left:40px;
	padding-top:10px;
	padding-right:15px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightDescriptionTextShow1 {
	width: 230px;
	padding-left:35px;
	padding-top:10px;
	padding-right:15px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightDescriptionTextBottom {
	width: 295px;
	height:80px;
	background-image:url(iService-help1_with-slices_31.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightBottomBorderLeft{
	width: 295px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightBottomBorderRight{
	width: 292px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightMiddleBorder{
	width: 1px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRight {
	width: 292px;
	background-color:#ffffff;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerRightRightHeader {
	width: 292px;
	height:47px;
	background-image:url(iService-help1_with-slices_24.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRightHeaderBottom {
	width: 292px;
	height:51px;
	background-image:url(iService-help1_with-slices_30.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRightDescriptionText {
	width: 292px;
	height:76px;
	background-image:url(iService-help1_with-slices_26.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerRightRightDescriptionTextBottom {
	width: 292px;
	height:80px;
	background-image:url(iService-help1_with-slices_32.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomDevider {
	width: 8px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomleft {
	width: 477px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderleft {
	width: 477px;
	height:43px;
	background-image:url(iService-help1_with-slices_34.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomHeaderDescriptionleft {
	width: 477px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderMiddleBordeleft {
	width: 1px;
	height:154px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomHeaderBottomBordeleft {
	width: 226px;
	height:1px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderBottomBorderight {
	width: 250px;
	height:1px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomInnerDescriptionleft1
{
	width: 226px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomInnerDescriptionleft2
{
	width: 250px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomInnerDescriptionleft
{
	width: 226px;
	background-color:#ffffff;
	background-image:url(iService-help1_with-slices_37.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomInnerDescriptionleftText
{
	padding-left:40px;
	padding-top:15px;
	padding-bottom:10px;
	width: 186px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomInnerDescriptionleftText1
{
	padding-left:40px;
	padding-top:15px;
	padding-bottom:10px;
	width: 196px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomright {
	width: 498px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomHeaderright {
	width: 498px;
	height:43px;
	background-image:url(iService-help1_with-slices_36.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomHeaderDescriptionrightNew{
	width: 488px;
	padding-top:3px;
	padding-bottom:0px;
	height:58px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.BlockcontainerBottomHeaderDescriptionright {
	width: 488px;
	padding-left:10px;
	height:52px;
	background-image:url(navigation-bodytext-bg.png);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.BlockcontainerBottomInnerDescriptionRight
{
	width: 250px;
	background-color:#ffffff;
	background-image:url(iService-help1_with-slices_39.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.RightBlockleft{
	padding-top:5px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockleftNew{
	margin: 0px;
	padding-top:10px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockleftbutton1{
	padding-left:20px;
	width: 59px;
	height:52px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockright{
	width: 403px;
	height:52px;
	background-image:url(iService-help1_with-slices_45.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockrightText{
	padding-left:10px;
	padding-top:10px;
	width: 393px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockrightTextBigButton{
	padding-left:10px;
	padding-top:10px;
	width: 350px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockrightText2{
	padding-left:10px;
	padding-top:3px;
	width: 393px;
	color:#333333;
	font-size:11px;
	font-family:Verdana;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}


.RightBlockBorder{
	width: 15px;
	height:52px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}


.RightBlockleft1{
	width: 79px;
	height:47px;
	background-image:url(iService-help1_with-slices_50.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockleft1Text{
	width: 49px;
	padding-left:30px;
	padding-top:15px;
	font-weight:bold;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockleft1Text1{
	width: 49px;
	padding-left:30px;
	padding-top:12px;
	font-weight:bold;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.RightBlockright1{
	width: 403px;
	height:47px;
	background-image:url(iService-help1_with-slices_51.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockBorder1{
	width: 15px;
	height:47px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.RightBlockleft2{
	width: 79px;
	height:40px;
	background-image:url(iService-help1_with-slices_57.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockright2{
	width: 403px;
	height:40px;
	background-image:url(iService-help1_with-slices_58.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.RightBlockBorder2{
	width: 15px;
	height:40px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.copyContainer
{
	width: 815px;
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}
.copyContainerRight
{
	width: 210px;
	height:16px;
	background-image:url(iService-help1_with-slices_61.gif);
	margin: 0px;
	float:left;
	background-repeat:no-repeat;
}

.copyContainerRightText
{
	width: 210px;
	padding-left:10px;
	color:#ffffff;
	font-size:10px;
	font-family:Verdana;
}


.overlay
{
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0; 
	left: 0; 
	display: none; 
	z-index: 999;
	background: rgba(0,0,0,0.0);
}
	.overlay a
	{
		display: table-cell; 
		vertical-align: middle;
		text-align: center;
		text-decoration:none;
	}
		.overlay span
		{
			padding: 20px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:11px;
			color:#333333;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #ffffff;
		}

.overlay:target { display: table; }


.overlayNew1
{
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0; 
	left: 0; 
	display: none; 
	z-index: 999;
	background: rgba(0,0,0,0.0);
}
	.overlayNew1 a
	{
		display: table-cell; 
		/*vertical-align: middle;*/
		top:78%;
		left:43%;
		position: absolute;
		text-align: center;
		text-decoration:none;
	}
		.overlayNew1 span
		{
			padding: 20px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:11px;
			color:#333333;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #ffffff;
		}

.overlayNew1:target { display: table; }

.overlayNew2
{
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0; 
	left: 0; 
	display: none; 
	z-index: 999;
	background: rgba(0,0,0,0.0);
}
	.overlayNew2 a
	{
		display: table-cell; 
		/*vertical-align: middle;*/
		top:52%;
		left:45%;
		position: absolute;
		text-align: center;
		text-decoration:none;
	}
		.overlayNew2 span
		{
			padding: 20px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:11px;
			color:#333333;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #ffffff;
		}

.overlayNew2:target { display: table; }