<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dictionaries</key>
	<dict>
		<key>Expenses</key>
		<dict>
			<key>Airfare</key>
			<string>0</string>
			<key>Entertainment</key>
			<string>0</string>
			<key>Food - Breakfast</key>
			<string>0</string>
			<key>Food - Dinner</key>
			<string>0</string>
			<key>Food - Lunch</key>
			<string>0</string>
			<key>Gas</key>
			<string>0</string>
			<key>Lodging</key>
			<string>0</string>
			<key>Mileage</key>
			<string>0</string>
			<key>Parking</key>
			<string>0</string>
			<key>Parts</key>
			<string>0</string>
		</dict>
		<key>Labour</key>
		<dict>
			<key>Calibration</key>
			<string>0</string>
			<key>Cleanup</key>
			<string>0</string>
			<key>Installation</key>
			<string>0</string>
			<key>Rate_Calibration</key>
			<string>40</string>
			<key>Rate_Cleanup</key>
			<string>50</string>
			<key>Rate_Installation</key>
			<string>75</string>
			<key>Rate_Repair</key>
			<string>100</string>
			<key>Rate_Service</key>
			<string>225</string>
			<key>Repair</key>
			<string>0</string>
			<key>Service</key>
			<string>0</string>
		</dict>
		<key>Parts</key>
		<array>
			<array>
				<dict>
					<key>CostPerPart</key>
					<string>10</string>
					<key>Image</key>
					<string>chargingvalve-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Charging Valve</string>
					<key>PartsUsed</key>
					<string>0</string>
					<key>TotalParts</key>
					<string>5</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>13.5</string>
					<key>Image</key>
					<string>copperspundrier-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Copper Spun Drier</string>
					<key>PartsUsed</key>
					<string>2</string>
					<key>TotalParts</key>
					<string>3</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>10</string>
					<key>Image</key>
					<string>sightglass-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Sight Glass</string>
					<key>PartsUsed</key>
					<string>4</string>
					<key>TotalParts</key>
					<string>1</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>11</string>
					<key>Image</key>
					<string>coppertubeconector-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Copper Tube Connector</string>
					<key>PartsUsed</key>
					<string>2</string>
					<key>TotalParts</key>
					<string>3</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>CostPerPart</key>
					<string>10</string>
					<key>Image</key>
					<string>valve-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Valve</string>
					<key>PartsUsed</key>
					<string>2</string>
					<key>TotalParts</key>
					<string>3</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>12.5</string>
					<key>Image</key>
					<string>roundbolt-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Round Bolt</string>
					<key>PartsUsed</key>
					<string>4</string>
					<key>TotalParts</key>
					<string>1</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>11</string>
					<key>Image</key>
					<string>hexbolt-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Hex Bolt</string>
					<key>PartsUsed</key>
					<string>3</string>
					<key>TotalParts</key>
					<string>2</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>10</string>
					<key>Image</key>
					<string>wiser-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Wiser</string>
					<key>PartsUsed</key>
					<string>0</string>
					<key>TotalParts</key>
					<string>5</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>CostPerPart</key>
					<string>15</string>
					<key>Image</key>
					<string>choke-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Choke</string>
					<key>PartsUsed</key>
					<string>1</string>
					<key>TotalParts</key>
					<string>4</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>20</string>
					<key>Image</key>
					<string>exhaustgrill-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Exhaust Grill</string>
					<key>PartsUsed</key>
					<string>0</string>
					<key>TotalParts</key>
					<string>5</string>
				</dict>
				<dict>
					<key>CostPerPart</key>
					<string>12.5</string>
					<key>Image</key>
					<string>filter-iservice-debriefing-parts.png</string>
					<key>Name</key>
					<string>Filter</string>
					<key>PartsUsed</key>
					<string>2</string>
					<key>TotalParts</key>
					<string>3</string>
				</dict>
				<dict/>
			</array>
			<array>
				<dict/>
				<dict/>
				<dict/>
				<dict/>
			</array>
		</array>
	</dict>
	<key>Favorites</key>
	<array>
		<dict>
			<key>Family</key>
			<string>Family</string>
			<key>Id</key>
			<string>Id</string>
			<key>Name</key>
			<string>Name</string>
			<key>ProductCode</key>
			<string>ProductCode</string>
			<key>SVMXC__Product_Line__c - 2</key>
			<string>SVMXC__Product_Line__c</string>
		</dict>
	</array>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Connection</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Production</string>
			<key>Key</key>
			<string>preference_identifier</string>
			<key>Title</key>
			<string>Login Host</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Sandbox</string>
				<string>Custom Host</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>Production</string>
				<string>Sandbox</string>
				<string>Custom</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>custom_url</string>
			<key>KeyboardType</key>
			<string>String</string>
			<key>Title</key>
			<string>Custom Host</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Use Logging</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>application_level</string>
			<key>Title</key>
			<string>Application Level</string>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Error</string>
				<string>Warning</string>
				<string>Verbose</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>performance_level</string>
			<key>Title</key>
			<string>Performance Level</string>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Warnings</string>
				<string>Verbose</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Enable Sync v2.0</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>USDefault_Aggressive_flag</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Select request timeout (in mins)</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Key</key>
			<string>reqTimeout_Setting</string>
			<key>MaximumValue</key>
			<integer>10</integer>
			<key>MaximumValueImage</key>
			<string>10.png</string>
			<key>MinimumValue</key>
			<integer>3</integer>
			<key>MinimumValueImage</key>
			<string>3.png</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Application Information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>14.50.020</string>
			<key>Key</key>
			<string>appVersion</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>kFirstTimeLogin</key>
	<string></string>
</dict>
</plist>
